* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#background {
  background-image: url("/images/bg.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 80vh;
}

#bg {
  display: flex;
  justify-content: center;
}

#header-parent {
  display: flex;
  padding: 14px;
  background-color: #eaf0f04d;
  height: 76px;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

  border-radius: 14px;
}

#image {
  width: 96px;
  height: 21.82px;
}

#nav {
  display: flex;
  list-style: none;
  column-gap: 54px;
  color: #283841;
  font-size: 16px;
  font-weight: 500;
}

#button {
  display: flex;
  background-color: #c08b7d;
  width: 132px;
  height: 48px;
  justify-content: center;
  border-radius: 8px;
  border: none;
  color: #ffff;
  font-weight: 600;
  font-size: 16px;
}

#sign {
  display: flex;
  column-gap: 32px;
}

#text {
  font-size: 60px;
  font-weight: 700;
  color: #ffff;
  text-align: center;
}

#fonts {
  font: weight 500;
  font-size: 18px;
  color: #ffff;
  text-align: center;
}

#letter {
  font-size: 36px;
  font-weight: 700;
  text-align: left;
}

#note {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 6%;
  text-align: left;
}

#accomodation-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: 20px auto;
  justify-content: space-around;
  align-items: center;
}

.accomodation {
  font-size: small;
  color: grey;
}
.accomodation .content {
  padding: 10px;
}
.accomodation .content > p {
  margin: 10px auto;
}
.price-tag {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: space-around;
}
.location-tag {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  float: right;
}
